.step {
  --step-text-color: black;
}
.step {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 20px;
  color: var(--step-text-color);
}

.step__number {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--step-text-color);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 0 10px;
}

.step__title__description {
  display: block;
  text-align: start;
}

.step__title__description p {
  margin: 0;
}

.step_active {
  --step-text-color: rgb(28, 13, 226);
}
