.button,
.button_disabled {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.37);
  margin: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.312);
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.137);
}

.button:active {
  background-color: rgba(0, 0, 0, 0.237);
}

.button_disabled {
  cursor: default;
}
