.button,
.button_disabled {
  cursor: pointer;
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.37);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.button:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.button_disabled {
  cursor: default;
}
