.add-team {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}

.add-team select {
  width: 100%;
  margin: 0 5px;
  padding: 4px 10px;
}

.add-team button {
  margin-left: 5px;
}

.add-team span {
  min-width: 20px;
}
