.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.player__input-text {
  margin-right: 10px;
}

.player span {
  min-width: 25px;
  color: darkblue;
  font-weight: 400;
}
